.login-screen {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-screen form {
  margin: 0;
}

.login-form{
  background-color: #323232;
  height: 200px;
  width: 350px ;
}