<div class="row mt-5">
    <div class="col text-center">
        <div class="block-27">

            <ul>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}#mytab"><</a>
                </li>

                <li>
                    <a href="?page={{ page_obj.previous_page_number }}#mytab">{{ page_obj.previous_page_number }}</a>
                </li>

                {% endif %}

                <li class="page-item active">
                    <a href="?page={{ page_obj.number }}#mytab">{{ page_obj.number }}</a>
                </li>

                {% if page_obj.has_next %}

                <li>
                    <a href="?page={{ page_obj.next_page_number }}#mytab">{{ page_obj.next_page_number }}</a>
                </li>

                <li>
                    <a href="?page={{ page_obj.next_page_number }}#mytab">></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>